<!DOCTYPE html>
<html lang="fr">

<head>
  <title>ADMIN CONTROLE</title>
  <script type="text/javascript" src='admin.js'> </script>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <table>
    <thead>
      <tr>
        <th colspan="2">Gestion Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        <th colspan="1">Gerer Evenements</th>
        </td>
      </tr>
      </td>
      <td>
        <button class="button" type="button"   onclick="window.location.assign('CreeEvenement.html');">
                         Creer un événement
                    </button>
      </td>
      <td>
        <button class="button" type="button" onclick="window.location.assign('SupprEvenement.html');">
                          Supprimer un événement
                      </button>
      </td>
      <td>
        <button class="button" type="button" onclick="window.location.assign('ModifEvenement.html');">
                          Modifier infos Evenements
                      </button>
      </td>
      <td>
        <button class="button" type="button" onclick="window.location.assign('adminLanceEvenement.html');">
                          START/STOP Evenement
                      </button>
      </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        <th colspan="1">Gerer Groupe/Artiste</th>
      </tr>
      </td>
      <td>
        <button class="button" type="button" onclick="window.location.assign('modifPassage.html');">
                         Modifier Infos
                    </button>
      </td>

      <td>
        <button class="button" type="button" onclick="window.location.assign('message.html');">
                          Messagerie 
                      </button>
      </td>

      </tr>
    </tbody>
  </table>