<!DOCTYPE html>
<html lang="fr">


<!DOCTYPE html>
<html lang="fr">
<head>
	 <meta charset="UTF-8" />
    <title>index</title>
    <script  type="text/javascript" src='admin.js'> </script>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <body>
    </style>
    <header>
        <p> PAGE ADMIN </p>
  </header>

    <h1> CONNEXION</h1>
    <div>
        <fieldset>
        
        <form>

            <div>
                <label for="choose">Nom :</label>
                <input id="nom"  name="nom" required minlength="3" maxlength="25">
    </div>
            <div>
                <label for="choose">Mot de passe :</label>
                <input id="mdp" type="password" name="mdp" required minlength="3" maxlength="10">
    </div>
            <div>
        <input 
            value="CONNEXION" type="button" onclick="connexionAdmin(nom.value,mdp.value);" 
        />


            </div>
        </form>
        </fieldset>
</body>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
    </div>
</body>

</html>