<!DOCTYPE html>
<html lang="fr">

<head>
  <title>ADMIN CONTROLE</title>
  <script  type="text/javascript" src='admin.js'> </script>

  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <h1> MODIFICATION </h1>
  <script>
   TabEve();  ShowEve();
  </script>

  <div id="haut">
   
  </div>
  <div id ='milieu'>
  
  </div>

  <div id = "gauche">
     <button onClick="afficheGroupe();"/>
        Actualiser
        </button>
  </div>
  <div id = "droite">
  </div>



  <br/>
  <br/>
  <br/>
  <br/>

  <footer>
    <div>
      <button onClick="window.location.assign('admin.html');"/>
        RETOUR
        </button>
    </div>
  </footer>
</body>

</html>