<!DOCTYPE html>
<html lang="en">
<head>
  <title>ADMIN CONTROLE</title>
  <script  type="text/javascript" src='admin.js'> </script>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
   <h1> Supprimer EVENEMENT </h1>
   <script> ShowEve();TabEve();</script>
   <div id='haut'>
    </div>
  <div>
    <button onClick="SuppEv(mySelect.value);"/>
    SUPPRIMER
  </div>


     <br/>
    <br/>
    <br/>
    <br/>

    <footer>
      <div>
        <button onClick="window.location.assign('admin.html');"/>
        RETOUR
        </button>
      </div>
    </footer>
</body>
</html>