<!DOCTYPE html>
<html lang="en">
<head>
  <title>spectateur</title>
   <script type="text/javascript" src='scripts/connect.js'> </script>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <table>
    <thead>
        <tr>
            <th colspan="2">Gestion Evenements</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
              <button class="button" type="button">
                  Creer Evenements
              </button>
            </td>
        </tr>
         <tr>
            <td>
              <button class="button" type="button">
                  Supprimer Evenements
              </button>
            </td>
        </tr>
         <tr>
            <td>
              <button class="button" type="button">
                  Modifier Evenements
              </button>
            </td>
        </tr>
        
    </tbody>
</table>

</body>

