<!DOCTYPE html>
<html lang="en">

<head>
    <title>spectateur</title>
    <script type="text/javascript" src='scripts/artiste.js'> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="styles2.css" />
</head>

<body>
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container px-5">
            <a class="navbar-brand" href="index.html">DROPMIC ARTISTE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="artiste.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="classement.html">Classement</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">Compte</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                    <li><a class="dropdown-item" href="modifCompteA.html">Modifier</a></li>
                    <li><a class="dropdown-item" href="javascript:Deco()">Deconnexion</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <header class="bg-dark py-1" >
          <div id="but">
            <input id="SPECTATEUR" type="button" value="SPECTATEUR"
              class="btn btn-outline-light btn-lg px-5" onclick="loginSpec();" />
            <input id="ARTISTE" type="button" value="   ARTISTE   " class="btn btn-outline-light btn-lg px-5"
              onclick="loginArt();" />
          </div>
      </header>

    <div id="centrer" class="encadrer">
        <h1>AGENDA</h1>
        <table id="agenda">

        </table>
        <script>afficheAgd(0);afficheAgd(1);afficheAgd(2);</script>
    </div>

</body>



</html>