<!DOCTYPE html>
<html lang="en">

<head>
    <title>spectateur</title>
    <script type="text/javascript" src='scripts/artiste.js'> </script>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <header>
        <input id="SPECTATEUR" type="button" value="SPECTATEUR" class="button" onclick="loginSpec();" />
        <input id="ARTISTE" type="button" value="ARTISTE" class="button" onclick="loginArt();" />
    </header>

    <div id="centrer" class="encadrer">
        <h1>AGENDA</h1>
        <table id="agenda">

        </table>
        <script>afficheAgd(0);afficheAgd(1);afficheAgd(2);</script>
    </div>

</body>



</html>