<!DOCTYPE html>
<html lang="en">

<head>
    <title>index</title>
    <script type="text/javascript" src='scripts/inscription.js'> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="styles2.css" />
</head>

<body>
    
    <header class="bg-dark py-1">
        <div id="but">
          <input id="SPECTATEUR" type="button" value="SPECTATEUR"
            class="btn btn-outline-light btn-lg px-5" onclick="loginSpec();" />
          <input id="ARTISTE" type="button" value="   ARTISTE   " class="btn btn-outline-light btn-lg px-5"
            onclick="loginArt();" />
        </div>
  </header>

    <h1> INSCRIPTION </h1>
    <section id="gauche">
        <h2> FORMULAIRE : </h2>
           
                <fieldset>

                    <legend>Choisir :<abbr title="Ce champ est obligatoire"></abbr></legend>
                    <input type="radio" name="choix" id="r1" value="1" checked onclick="EnableDisableTB()">
                    <label for="r1">SOLO</label>
                    <input type="radio" name="choix" id="r2" value="2" onclick="EnableDisableTB()">
                    <label for="r2">GROUPE </label>
                    <br/>
                </fieldset>

        

        <div id="droite"></div>
        <section><button class="btn btn-danger  btn-lg px-5" onClick="inscription();">INSCRIPTION</button></section> 
</body>
<script>
    afficheGroupe();tabEve();
</script>

</html>