<!DOCTYPE html>
<html lang="en">

<head>
    <title>index</title>
    <script type="text/javascript" src='scripts/artiste.js'> </script>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    </style>
    <header>
        <input
    id="SPECTATEUR" type="button" value="SPECTATEUR" class ="button" onclick="loginSpec();"
    />
        <input
    id="ARTISTE" type="button" value="ARTISTE" class ="button" onclick="loginArt();"
    />
  </header>

    <h1> CONNEXION ARTISTE </h1>
    <div>
        <fieldset>
            <h2> SE CONNECTER : </h2>
            <form>

                <div>
                    <label for="choose">Nom :</label>
                    <input id="nom"  name="nom" required minlength="3" maxlength="25">
    </div>
                <div>
                    <label for="choose">Mot de passe :</label>
                    <input id="mdp" name="mdp" required minlength="3" maxlength="10">
    </div>
                <div>
                    <input
            value="CONNEXION" type="button" onclick="ArtisteConnexion(nom.value,mdp.value);"
        />
                </div>
            </form>
        </fieldset>
    </div>
    
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>
            <form action="artistecreecompte.html">
            <input type="submit" value="Creer un compte ARTISTE" />
</form>
        </div>

</body>

</html>