<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>spectateur</title>
  <script type="text/javascript" src='scripts/spectateur.js'> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
        <a class="navbar-brand" href="index.html">DROPMIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="spectateur.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="classement.html">Classement</a></li>
            <li class="nav-item"><a class="nav-link" href="specPaye.html">Achat</a></li>
            <li class="nav-item"><a class="nav-link" href="pricing.html"></a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">Compte</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                <li><a class="dropdown-item" href="modifCompteS.html">Modifier</a></li>
                <li><a class="dropdown-item" href="javascript:Deco()">Deconnexion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-1">
      <div id="but">
        <input id="SPECTATEUR" type="button" value="SPECTATEUR"
          class="btn btn-outline-light btn-lg px-5" onclick="loginSpec();" />
        <input id="ARTISTE" type="button" value="   ARTISTE   " class="btn btn-outline-light btn-lg px-5"
          onclick="loginArt();" />
      </div>
      <br>
      <div id="intro">
        <script>
          document.write(getNomSpect());
        </script>
        <br />
        <p id="p">
          <script>
            var img = document.createElement("img");
            img.src = "" + getSrcImage();
            img.style.width = "150px";
            img.style.height = "150px";
            document.getElementById("p").appendChild(img);
          </script>
        </p>
        <p>
          <script>document.write(getPointsSpec() + " points");</script>
        </p>
      </div>
      <h2>Evenements</h2>
    </header>


  <div id='gauche'>
    <section id="programme"></section>
  </div>
  <div id='droite'>
  </div>

  <div id='gauche2'>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>

  <script>
    affichePronoEve();afficheResProno();
  </script>
</body>


</html>