<!DOCTYPE html>
<html lang="fr">

<head>
  <title>spectateur</title>
  <script type="text/javascript" src='scripts/spectateur.js'> </script>
  <link rel="stylesheet" href="styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



</head>

<body>
  <p>
  </p>
  <header>
    <input
    id="SPECTATEUR" type="button" value="SPECTATEUR" class ="button" onclick="loginSpec();"
    />
    <input
    id="ARTISTE" type="button" value="ARTISTE" class ="button" onclick="loginArt();"
    />

    <label for="choose-select"></label>

    <select name="choose" id="choose-select" onclick="choixS(value);">
    <option value="">--Please choose an option--</option>
    <option value="1">Modifier compte</option>
    <option value="2">Deconnexion</option>

    </select>
  </header>


  <h3> Hello
    <script>
      document.write(getNomSpect());
    </script>
  </h3>
  <br/>
  <p> <img id="logoImg" src="" width="20%"> </p>

  <h2>Default</h2>

  <div id="gauche">

    <script>
      ShowEve();
    </script>
  </div>





  <div id="droite">
    <p> Nous sommes le
      <script>
        var today = new Date();
        var date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
        document.write(date);
      </script>
    <section id="c">
      <p>
        <button class="button" type="button" onclick="reservation();"> RESERVATION </button>
      </p>
      <p>
      <form action="classement.html">
        <input type="submit" class="button" value="CLASSEMENT" />
      </form>
      </p>
      <p>
      <form action="pronostique.html">
        <input type="submit" class="button" value="PRONOSTIQUER" />
</form>
      </p>

    </section>
  </div>



  <script type="text/javascript">
    const {nativeImage} = require('electron');
          let logo = nativeImage.createFromPath('/Users/yvann/OneDrive/Images/logo.png');
          //let taille = logo.getSize();
          //logo = logo.resize({width :taille/8, heigth :taille/8})
          let logoImg = document.getElementById('logoImg').src= logo.toDataURL();
  </script>

  <footer>

  </footer>
</body>


</html>